*{
    margin: 0;
    padding: 0;
}
body{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
.login-page{
    background-image: linear-gradient(to right, rgb(0, 204, 255) , rgb(234, 0, 255));
    height:25rem;
    width: 20rem;
    border-radius: 1rem;
}
.logo img{
    width: 3rem;
    border-radius: 50px;
}
.logo{
    margin-top: 1rem;
    text-align: center;
}
.logo h3{
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    text-align: center;
}
.m-2{
    margin:2px ;
}
.ml-33{
    margin-left: 33px;
}
.remmeberMe{
    background-color: transparent;
}
.input{
    margin-top: 1.5rem;
}
.input input{
    background-color: inherit;
    width: 90%;
    border: none;
    outline: none;
}
.username{
    border-bottom: 1px solid aliceblue;
    width: 80%;
    margin-left: 2rem;
}
.username img{
    width: 1rem;
}
.passwd{
    border-bottom: 1px solid aliceblue;
    width: 80%;
    margin-left: 2rem;
}
.passwd img{
    width: 1rem;
}
::placeholder{
    color: aliceblue;
}

.remmeberMe{
    margin-top: 1rem;
    margin-right: .5rem;
    font-size: small;
}

.submit button{
    width: 6rem;
    height: 2.5rem;
    border-radius: 40px;
    border: none;
    margin-top: 2rem
}

.fogotPaswd{
    margin-top: 3rem;
}
.fogotPaswd a{
    text-decoration: none;
    color: aliceblue;
}